@{
    ViewBag.Title = "文章列表";
    Layout = "~/Views/Shared/ArticleTempalte.cshtml";
}

@section scripts{

    <script type="text/javascript">
        $(function () {
            $('#navList > li:not(.divider-vertical):eq(2)').addClass('active').siblings().removeClass('active');
        });

    </script>
}



<script type="text/javascript">
    $(function () {
        DrawQRCode();
    });

    function DrawQRCode() {
        $('.qrcode').each(function () {
            $(this).qrcode({
                text: window.location + $(this).attr('msg'),
                width: "75",
                height: "75"
            })
        }).css({ textAlign: 'center' });
    }
</script>

<div class="row-fluid">
    <div id="articles" class="span10 offset1">
    @*<div class="media">
        <a class="pull-left" href="#">
            <div class="qrcode" msg="wwwwwww"></div>
        </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>*@
    @foreach (var item in Model) 
    {
        <div class="media">
            <a class="pull-left" href="/article/read/@item.Id">
                <div class="qrcode" msg="@item.Id"></div>
            </a>
            <div class="media-body">
                <h4 class="media-heading">@item.Title</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
            <div><i class="icon-time"></i> 发布于 @DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss") &emsp;&emsp;&emsp;&emsp;<i class="icon-comment"></i> 评论(10)&emsp;&emsp;&emsp;&emsp;</div>
        </div>
    }
    </div>
</div>

<div class="row-fluid">
    <div id="loading" class="span10 offset1" style="display:none;text-align:center;" >
        <img src="@Url.Content("~/Content/loading6.gif")" />
    </div>
</div>

<div class="row-fluid">
    <div class="span10 offset1">
        <ul class="pager">
            @if (ViewBag.Prev == -1)
            { 
                <li class="previous disabled">
                    <a href="#">&larr; 上一页</a>
                </li>
            }
            else
            { 
                <li class="previous">
                    <a href="/article/index/@ViewBag.Prev">&larr; 上一页</a>
                </li>
            }
            @if (ViewBag.Next == -1)
            { 
                <li class="next disabled">
                    <a href="#">&rarr; 下一页</a>
                </li>
            }
            else
            { 
                <li class="next">
                    <a href="/article/index/@ViewBag.Next">下一页 &rarr;</a>
                </li>
            }
        </ul>
    </div>
</div>
