@{
    ViewBag.Title = "List";
}

<div class="metro span12">
<div class="metro-sections">
    <div id="section3" class="metro-section tile-span-1 well">
        <h2>导航区域</h2>
        
    </div>
    <div id="section4" class="metro-section tile-span-6 well">
        <table id="tbRssSource" class="table table-hover table-bordered table-striped">
            <caption>RSS地址列表<hr /></caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>RSS源名称</th>
                    <th>RSS源链接</th>
                    <th>RSS源描述</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table> 
         
    </div>
</div>
</div>

@section LeftFooter{
    <a class="win-command" data-toggle="modal" href="@Url.Action("Create")">
        <span class="win-commandimage win-commandring">&#xe03e;</span>
        <span class="win-label">添加源(新页面)</span>
    </a>
    <a class="win-command" href="@Url.Action("List")">
        <span class="win-commandimage win-commandring">&#xe11f;</span>
        <span class="win-label">查看所有源</span>
    </a>
}
@section RightFooter{
    <button class="win-command">
        <span class="win-commandimage win-commandring">&#xe1cd;</span>
        <span class="win-label">Previous</span>
    </button>
    <button class="win-command">
        <span class="win-commandimage win-commandring">&#xe1ca;</span>
        <span class="win-label">Next</span>
    </button>
    <button class="win-command">
        <span class="win-commandimage win-commandring">&#xe202;</span>
        <span class="win-label">设置</span>
    </button>
    <button class="win-command">
        <span class="win-commandimage win-commandring">&#x0067;</span>
        <span class="win-label">搜索</span>
    </button>
}


<script id="rssSourceTableTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>
            ${Id}
	    </td>
        <td>
            ${SourceName}
	    </td>
        <td>
            ${SourceUrl}
	    </td>
        <td>
            ${SourceDescription}
	    </td>
	    <td>     
	        <a class="detail btn-link" target="_blank" href="@Url.Action("edit")?Id = ${Id}" ><span class="icon-pen"></span> 修改</a>
            <a class="detail btn-link" target="_blank" href="${Link}" ><span class="icon-remove-3"></span> 删除</a>
            @*<a class="detail btn-link" href="${Link}" ><span class="icon-arrow-right-8"></span> 阅读</a>*@
	    </td>
	</tr>
</script>

<script type="text/javascript">
    $(function () {
        LoadRssSourceInTable();
    });

    function LoadRssSourceInTable() {
        $.ajax({
            url: '/admin/rss/list',
            dataType: 'json',
            cache: false,
            beforeSend: function () {
            },
            error: function () {
            },
            success: function (data) {
                $('#tbRssSource tbody').empty();
                $('#rssSourceTableTemplate').tmpl(data).appendTo('#tbRssSource');
            }
        });
    }

</script>

