@{
    ViewBag.Title = "ForgetPassword";
}

@section scripts{
    
}

@section LeftBanner{
    <div class="row-fluid">
        <div class="alert-info alert">
            <h6 class="alert-heading">网站公告</h6>
            <ul class="unstyled">
                <li>用户必须尊重开发者的劳动</li>
                <li>可以进行二次开发，但是不能进行商业活动</li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="alert-info alert">
            <h6 class="alert-heading">网站动态</h6>
            <div class="newsticker-jcarousellite">
            <ul class="unstyled">
                <li>
                  用户必须尊重开发者的劳动  
                </li>
                <li>可以进行二次开发，但是不能进行商业活动</li>
            </ul></div>
        </div>
    </div>
}

@section BreadCrumb{
    <div class="span12">
        <ul class="breadcrumb">
            @*<li>
                <a href="#">忘记密码</a><span class="divider">/</span>
            </li>*@
            <li class="active">忘记密码</li>
        </ul>
    </div>
}

<div class="row-fluid">
            @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal"}))
            {
                @Html.ValidationSummary(excludePropertyErrors: true)
                <fieldset>
                    <legend>忘记密码</legend>
                    <div class="control-group">
                        <label class="control-label" for="Email">电子邮箱</label>
                        <div class="controls">
                            @Html.TextBox("Email","",new { @class = "input-xlarge" })
                            <p class="help-block"></p>
                      </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="CheckCode">验证码</label>
                        <div class="controls">
                            <input type="text" name="CheckCode" class = "input-medium" />&emsp;请输入下面的验证码
                            <p class="help-block">
                                <img id="verificationcode" src="@Url.Action("VerificationCode", "User")" />
                            </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" ></label>
                        <div class="controls">
                            <input type="submit" class = "btn btn-primary" value=" 密  码  重  置 " />
                            <p class="help-block">
                                
                            </p>
                        </div>
                    </div>
                </fieldset>
            }
</div>
