<ul class="thumbnails">
    <li class="span3">
        <div class="thumbnail">
            <img src="@Url.Content("~/Content/thumb/cqwu.jpg")" alt="">
            <div class="caption">
                <h5>重庆文理学院</h5>
                <p>重庆文理学院是重庆市人民政府主办的全日制普通本科高等学校。其前身重庆师范高等专科学校和渝州教育学院分别创办于1976年和1972年；2001年5月两校合并组建为渝西学院；2005年4月，学校更名为重庆文理学院。    </p>
                <p><a href="http://www.cqwu.net/" target="_blank" class="btn btn-primary">了解更多</a> <button data-val="重庆市永川区重庆文理学院" class="btn map">查看地图</button></p>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <img src="@Url.Content("~/Content/thumb/dy.jpg")" alt="">
            <div class="caption">
                <h5>故乡--丹阳</h5>
                <p>
		            丹阳市隶属于江苏省，由镇江市代管，位于镇江东南部，地处长江三角洲、上海经济圈腹地；东邻常州市武进区、新北区，西接句容市、镇江市丹徒区，南与金坛市接壤，北接镇江新区，并与扬中市隔江相望，是一座具有悠久历史的文化古城。1987年经国务院批准撤县建市，被列为沿海对外开放城市；丹阳处在镇江经济发展的前沿和第一方阵，亦是江苏经济发展水平较高的县（市）之一。我国第一个国家旅游产业创新发展实验市。
	            </p>
                <p class="text-center"><a href="#" class="btn btn-primary">了解更多</a> <button data-val="江苏省丹阳市珥陵高级中学" class="btn map">查看地图</button></p>
            </div>
        </div>
    </li>
</ul>



 

