@model IEnumerable<MSpace.Models.Component>

@foreach (var item in Model)
{
    <div class="well span8">
        <h3>@item.Name</h3>
        <div>@Html.Raw(@HttpUtility.HtmlDecode(@item.Name))</div>
    </div>
}