<div class="row">
    <div class="col-lg-12" >
        <img src="@Url.Content("~/Content/123.jpg")" class="img-polaroid img-rounded col-lg-12 pull-left"/>
        <p class="muted">
            中文名
        </p>
    </div>
</div>