@{
    ViewBag.Title = "FamousWord";
}
        <blockquote class="pull-right">
            <p>掌握系统的思维创新方法，包括发散性思维和逻辑思维，应用左脑和右脑协调创新的技巧，提高企业战略创新</p>
            <small>Someone famous <cite title="Source Title">Source Title</cite></small>
        </blockquote>
