@{
    ViewBag.Title = "RelatedArticle";
}

<div id="relatedArticle" class="span10 alert alert-info offset1">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="@Url.Content("~/Content/holder.png")">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
        </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="@Url.Content("~/Content/holder.png")">
            </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
        </div>
    </div>
</div>
