@{
    ViewBag.Title = "Login";
}
<ul class="nav pull-right">
        <li><a href="/signup">注册</a></li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">登录<strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                <form method="post" action="login" accept-charset="UTF-8">
                    <input style="margin-bottom: 15px;" type="text" placeholder="用户名" id="username" name="username">
                    <input style="margin-bottom: 15px;" type="password" placeholder="密码" id="password" name="password">
                    <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                    <label class="string optional" for="user_remember_me">记住我</label>
                    <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="登录">
                    <label style="text-align:center;margin-top:5px">您也可以</label>
                    <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
                    <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
                </form>
            </div>
        </li>
    </ul>
<h2>Login</h2>
