@{
    ViewBag.Title = "BlankTemplate";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @RenderSection("Scripts", false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>

