@model MSpace.Models.Album
@{
    ViewBag.Title = "上传前预览";
}

@section Scripts{



    <script type="text/javascript">

        function getPath(obj) {
            if (obj) {
                if (navigator.userAgent.indexOf("MSIE") > 0 && !(navigator.userAgent.indexOf("MSIE 10.0") > 0)) {
                    obj.select();
                    obj.blur();
                    // IE下取得图片的本地路径            
                    console.log(document.selection.createRange().text);
                    return document.selection.createRange().text;
                } else {
                    if (obj.files) {
                        if (navigator.userAgent.indexOf("MSIE 10.0") > 0) {
                            console.log("obj对象—————— " + obj.files);
                            var objectURL = window.URL.createObjectURL(obj.files[0]);
                        } else {
                            // 其他浏览器下取得的是图片的数据 （webkit要使用webkitURL）
                            var objectURL = (window.webkitURL ? webkitURL : URL).createObjectURL(obj.files.item(0));
                        }
                        return objectURL;
                    }
                    return obj.value;
                }
                return obj.value;
            }
        }

        $(function () {

            $(".business_picture_Input").change(function () {
                //alert(getPath(this));　　　　　　　　//显示一下图片的路径
                var imgType = $(this).val();
                // alert(imgType.substr(imgType.lastIndexOf('.')));
                if (imgType.indexOf(".jpg") > 0 || imgType.indexOf(".png") > 0 || imgType.indexOf(".jpeg") > 0 || imgType.indexOf(".gif") > 0 || imgType.indexOf(".bmp") > 0) {
                    if (navigator.userAgent.indexOf("MSIE") > 0 && !(navigator.userAgent.indexOf("MSIE 10.0") > 0)) {
                        alert('IE7-IE9');
                        var $div = '<div style="display:block;width:65px;height:65px;"></div>';
                        $($div).get(0).style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                        $($div).get(0).filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = getPath(this);
                        $(this).parent().append($($div));
                    } else {
                        alert('Not IE7-IE9');
                        var $img = '<img src="' + getPath(this) + '" style="display:block;width:65px;height:65px;">';
                        $(this).parent().append($($img));
                    }
                } else {
                    alert("亲爱的用户，您选择的文件不是一张支持图片哦，再试试另一张吧");
                }
            });

        });
    </script>
}

<div>
    @*<h2>上传到相册:@Html.DropDownList("AlbumId", ViewBag.Albums as SelectList) </h2>*@
    <h2>上传到相册:@Model.Name </h2>
</div>

<div class="well">
    <input type="file" class="business_picture_Input" id="step2_inputFileImg1" name="step2_inputFileImg1">
</div>


@section LeftFooter{
    <a class="win-command" data-toggle="modal" href="@Url.Action("Album", "Gallary", new { id = @Model.Id })">
        <span class="win-commandimage win-commandring">&#x0039;</span>
        <span class="win-label">查看相册</span>
    </a>
}

@section RightFooter{
    <a class="win-command" data-toggle="modal" href="@Url.Action("Index")">
        <span class="win-commandimage win-commandring">&#x0039;</span>
        <span class="win-label">相册列表</span>
    </a>
}

